version: '3.8'

services:
  # Aplicação NestJS
  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: cinema-api
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      DATABASE_HOST: postgres
      DATABASE_PORT: 5432
      DATABASE_USER: cinema
      DATABASE_PASSWORD: cinema123
      DATABASE_NAME: cinema_db
      REDIS_HOST: redis
      REDIS_PORT: 6379
      RABBITMQ_URL: amqp://cinema:cinema123@rabbitmq:5672
      AMQP_URL: amqp://cinema:cinema123@rabbitmq:5672
      RABBITMQ_USER: cinema
      RABBITMQ_PASSWORD: cinema123
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - cinema-network
    restart: unless-stopped

  # Réplica da API para testar concorrência
  api-replica:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: cinema-api-replica
    ports:
      - "3001:3000"
    environment:
      NODE_ENV: production
      DATABASE_HOST: postgres
      DATABASE_PORT: 5432
      DATABASE_USER: cinema
      DATABASE_PASSWORD: cinema123
      DATABASE_NAME: cinema_db
      REDIS_HOST: redis
      REDIS_PORT: 6379
      RABBITMQ_URL: amqp://cinema:cinema123@rabbitmq:5672
      AMQP_URL: amqp://cinema:cinema123@rabbitmq:5672
      RABBITMQ_USER: cinema
      RABBITMQ_PASSWORD: cinema123
    depends_on:
      - api
    networks:
      - cinema-network
    restart: unless-stopped

  # PostgreSQL
  postgres:
    image: postgres:15-alpine
    container_name: cinema-postgres
    environment:
      POSTGRES_USER: cinema
      POSTGRES_PASSWORD: cinema123
      POSTGRES_DB: cinema_db
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./scripts/init-db.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U cinema"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - cinema-network

  # Redis
  redis:
    image: redis:7-alpine
    container_name: cinema-redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5
    networks:
      - cinema-network

  # RabbitMQ
  rabbitmq:
    image: rabbitmq:3.12-management-alpine
    container_name: cinema-rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: cinema
      RABBITMQ_DEFAULT_PASS: cinema123
    ports:
      - "5672:5672"   # AMQP
      - "15672:15672" # Management UI
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - cinema-network

networks:
  cinema-network:
    driver: bridge

volumes:
  postgres-data:
  redis-data:
  rabbitmq-data: